*{
    margin: 0;
    padding: 0;
    background-color: black;
}


#heading1{
    background-color: bisque;
    
}
#heading2{
    background-color: rgb(150, 220,195);
    margin: 2px;
    padding: 2px;
}
#heading3{
    background-color: #a5f2ba;
}
#heading4{
    background-color: rgba(210, 255, 150, 0.5);
    /* this is use for transparency */
}