*{
    margin: 0;
    padding: 0;
}


#heading1{
    background-color: bisque;
    
}
#heading2{
    background-color: rgb(150, 220,195);
    margin: 2px;
    padding: 2px;
}
#heading3{
    background-color: #a5f2ba;
}