*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: aquamarine;
    text-align: center;
}
nav{
    border: 2px solid red;
    width: auto;
    text-align:left;
}


nav a{
    text-decoration: none;
    margin-left: 14%;
    
}
#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left:50%;
    background-color: green;
}
.box{
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: 5px;
    display: inline-block;
    
}
#container{
    border: 2px solid red;
}
#box5{
    position: fixed;
    right: 20px;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 20px;
}
footer{
    position: absolute;
    bottom : 0px;
   background-color: aquamarine;
}